body {
    background-color: #660099;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#table {
    display: inline-grid;
    grid-template-columns: 100px, 100px;
}

a {
    text-decoration: none;
    color: lightcoral;
}