body {
    background-color: blueviolet;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#table {
    display: inline-grid;
    grid-template-columns: 100px, 100px;
}

a {
    text-decoration: none;
    color: lightcoral;
}

.bizarre {
    fill: none;
    fill-opacity: 1;
    stroke: purple;
    stroke-width: 4;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-linecap: round;
}

#mu {
    fill: white;
    stroke: white;
    stroke-width: 27.7342;
    stroke-opacity: 1;
}

#lambda {
    fill: none;
    stroke: purple;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1
}